<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Krub&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="container-1">
            <div class="main">
                <div class="main-text">
                    <h1>TSA Security </br> Check API</h1>
                    <p>
                        API returns data on an airport's TSA security check wait time through the day
                    </p>
                    <p> How to use: GET https://airportapi.emlin.repl.co/waitTimes/[airport code]</p>

                    <h3>Examples: </h3>
                    <ul>
                        <li> &nbsp &nbsp https://airportapi.emlin.repl.co/waitTimes/sfo
                        </li>
                        <li> &nbsp &nbsp https://airportapi.emlin.repl.co/waitTimes/lax</li>
                        <li> &nbsp &nbsp https://airportapi.emlin.repl.co/waitTimes/jfk</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-2">
            <div class="box-1">
                <!-- <p>How to use: <br/> GET https://WEBSITE.repl.co/waitTimes/[airport code]</p> -->
            </div>
            <div class="box-2"></div>
            <div class="box-3">
                <!-- Examples
      <ul>
          <li> https://WEBSITE.repl.co/waitTimes/SFO
          </li>
          <li> https://WEBSITE.repl.co/waitTimes/LAX</li>
          <li> https://WEBSITE.repl.co/waitTimes/JFK</li>
      </ul> -->
            </div>
            <div class="box-4"></div>




        </div>


    </div>



</body>

</html>