<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Krub&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        {{!-- <div class="container-1"> --}}
        <div class="main">
            {{!-- <div class="main-text"> --}}
            <div class="main-text">
                <div>
                    <h1>Job Data API </h1>
                    <br />


                    <h3>Endpoint Formats</h3>
                    <h2>All data scraped from Indeed.com</h2>
                    <p>
                        Retrieve a location's number of job listings for popular coding languages - <br />C#,
                        TypeScript,
                        Python, GoLang, Ruby, C++, PHP, Swift, Java, JavaScript
                    </p>
                    <div class="highlight-line"> <span class="highlight">GET</span>
                        https://airportapi.emlin.repl.co/jobData/[city+name]/[state]
                    </div>
                    <br />
                    {{!-- <br /> --}}
                    <p>
                        Retrieve an occupation's data - <br /> average base salary, percent satisfaction, common
                        benefits
                    </p>
                    <div class='highlight-line'>
                        <div>
                            <span class="highlight">GET</span>
                            https://airportapi.emlin.repl.co/jobRoleData/[occupation-title]
                        </div>

                    </div>
                </div>

                <div>


                </div>

                <br />

                <br />
                <h3>Examples </h3>
                <ul>
                    <li> &nbsp &nbsp https://airportapi.emlin.repl.co/jobData/san+francisco/ca
                    </li>
                    <li> &nbsp &nbsp https://airportapi.emlin.repl.co/jobData/new+york/ny
                    </li>
                    <li> &nbsp &nbsp https://airportapi.emlin.repl.co/jobRoleData/teacher</li>
                    <li> &nbsp &nbsp https://airportapi.emlin.repl.co/jobRoleData/front-end-developer</li>
                </ul>

            </div>

            {{!-- </div> --}}
        </div>
        {{!-- </div> --}}


    </div>



</body>

</html>