* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.05rem;
  }

  .container {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  .main {
    position: absolute;
    position: fixed;
    background: url("./img/scott-webb-OxHPDs4WV8Y-unsplash.jpg")

      no-repeat center center/cover;
      background-attachment: fixed;
    height: 100%;
    width: 100%; 
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  .main::before {
    content: "";
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.55);
  }

  .main-text{
    color: #fff;
    z-index: 2;
  }
  main-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 3.7rem;
    letter-spacing: 1.5rem; 
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
  }
  
  h2 {
   font-size: .9rem;
  }

  h3{
    text-decoration: underline;
    font-size: 1.2rem;
    letter-spacing: .4rem;
  }
  li {
    text-decoration: none;
    list-style: none;
  }

  .highlight {
    top: 20px;
    background:transparent ;
    padding: 0px 10px;
    display: inline-block;
    border-collapse: separate; 
    overflow: hidden;
    letter-spacing: 5px;
    outline: 1px solid #fff;
    font-size: 1rem;
  }

  @media(max-width: 760px){
    .main-text{
      overflow-x:hidden;
      overflow-y: auto;
      padding: 2px;
      /* padding-top: 30px; */
    }
    h1{
      font-size: 1.5rem;
      letter-spacing: 1rem; 

    }
    *{
      font-size: .8rem;
      word-wrap: break-word;
    }
    .main-text {
           padding: 1px;

    }
   
    h2 {
      font-size: .8rem;
     }
     h3{
      text-decoration: underline;
      font-size: .9rem;
      letter-spacing: .2rem;
    }
   
  }