* {
    margin: 0;
    padding: 0;
    font-family: "Krub", sans-serif;
  }
  /* 
  .container {
    display: flex;
  } */
  
  .container-1 {
    position: relative;
    height: 100vh;
    width: 100vw;
  }
  .main {
    background: url("./img/updated_keith-chan-rTv2jBfQoWk-unsplash\ \(4\).jpg")
      no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    color: #fff;
    font-size: 3rem;
    line-height: 5.9rem;
  }
  .main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .main-text {
    position: absolute;
    top: 38%;
    left: 18%;
  }
  .container-1 p,
  ul,
  h3 {
    color: #fff;
    line-height: 2rem;
    font-size: 1.2rem;
  }
  
  li {
    text-decoration: none;
    list-style: none;
  }
  /* .container-2 {
    width: 25vw;
    height: 100vh;
    position: relative;
    background: black;
  }
  
  .box-1 {
    position: absolute;
    width: 75%;
    height: 62%;
    background: #b0d0d3;
  }
  
  .box-2 {
    position: absolute;
    left: 75%;
    width: 25%;
    height: 620%;
    background: #fff;
  }
  .box-3 {
    position: absolute;
    width: 75%;
    top: 62%;
    height: 38%;
    background: #414535;
  }
  
  .box-4 {
    position: absolute;
    width: 25%;
    left: 75%;
    top: 62%;
    height: 38%;
    background: #a5a58d;
  }
  
  .box-1 p {
    color: #fff;
    position: absolute;
    top: 50%;
  } */
  